body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f2f5f9;
}

.header{
    background:#1565C0;
    color:white;
    padding:6px;
    text-align:center;
    font-size:6px;
    font-weight:bold;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.page{
    padding:15px;
    padding-bottom:90px;
}

.card{
    background:white;
    padding:18px;
    margin-bottom:15px;
    border-radius:18px;
    box-shadow:0 3px 10px rgba(0,0,0,.12);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#1976D2;
    color:white;
    font-size:16px;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:12px;
    border-radius:10px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

#map{
    width:100%;
    height:320px;
    border-radius:15px;
    overflow:hidden;
    margin-top:15px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:70px;
    background:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    box-shadow:0 -3px 10px rgba(0,0,0,.15);
}

.bottom-nav button{
    background:none;
    color:#555;
    font-size:14px;
    border:none;
}

.itemNasabah{
    background:#fff;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.aksi{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    gap:10px;
}

.aksi button{
    flex:1;
    height:45px;
    border:none;
    border-radius:12px;
    font-size:20px;
    background:#f1f5f9;
    color:#1565C0;
}

.aksi button:hover{
    background:#1565C0;
    color:white;
}

.menuNasabah{
    position:relative;
    text-align:right;
}

.menuBtn{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#1565C0;
    color:white;
    font-size:22px;
}

.popupMenu{

    display:none;

    position:absolute;

    right:0;

    top:50px;

    width:180px;

    background:white;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.25);

    overflow:hidden;

    z-index:999;
}

.popupMenu button{

    width:100%;

    background:white;

    color:#333;

    text-align:left;

    padding:12px;

    border:none;

}

.popupMenu button:hover{

    background:#E3F2FD;

}

.itemNasabah{
    position:relative;
}

.atasNasabah{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.atasNasabah h3{
    margin:0;
}

.menuBtn{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:transparent;
    color:#555;
    font-size:24px;
    cursor:pointer;
}

select{

    width:100%;

    padding:12px;

    margin-top:10px;

    margin-bottom:15px;

    border-radius:10px;

    border:1px solid #ccc;

    box-sizing:border-box;

    font-size:15px;

}

select{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:12px;
    border-radius:10px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

.btnHome{
    width:100%;
    margin-top:10px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2196F3;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btnHome:hover{
    opacity:0.9;
}
